name: CI
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: wasilibs/actions/.github/workflows/ci.yaml@2c5c69270ae8b3bb967e6d0f598d207c73adeb0b
    secrets: inherit
