name: CI
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: wasilibs/actions/.github/workflows/ci.yaml@faf18dd2b7f4020fbe2e3de1d44dab1966c3d6ae
    secrets: inherit
