name: "Update Upstream"

on:
  schedule:
    - cron: "5 4 * * *"
  workflow_dispatch:

permissions:
  id-token: write
  attestations: write

jobs:
  build:
    uses: wasilibs/actions/.github/workflows/update-node.yaml@b5f69f844b7192bf49350bc54ba61e2885e14b15
    with:
      packages: "@bufbuild/protoc-gen-es"
    secrets: inherit
