name: "Update Upstream"

on:
  schedule:
    - cron: "5 4 * * *"
  workflow_dispatch:

jobs:
  build:
    uses: wasilibs/actions/.github/workflows/update-node.yaml@eeee5d072ee283c12eb68e2c4969012fae3d6dd0
    with:
      packages: "@bufbuild/*"
    secrets: inherit
